@model GSU.Museum.Web.Models.HallViewModel
@{
    var state = Model.State == true ? "active" : "in progress";
    <div class="flex-column">
        <div class="form-group">
            <h5>Title (Be)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleBe))
            {
                <p>@Model.TitleBe</p>
            }
            else
            {
                <p>No title</p>
            }
        </div>
        <div class="form-group">
            <h5>Title (Ru)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleRu))
            {
                <p>@Model.TitleRu</p>
            }
            else
            {
                <p>No title</p>
            }
        </div>
        <div class="form-group">
            <h5>Title (En)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleEn))
            {
                <p>@Model.TitleEn</p>
            }
            else
            {
                <p>No title</p>
            }
        </div>
        <div class="form-group">
            <h5>State</h5>
            <p>@state</p>
        </div>
        <div class="form-group">
            <h5>Photo</h5>
            @if (Model.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo.Photo);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img class='img-thumbnail small-image img-small-loaded' src="@imgSrc" />
            }
            else
            {
                <label>No photo</label>
            }
        </div>
        <a class="a-btn" onclick="loadEditPage('/Halls/Edit/@Model.Id')">Edit</a>
        <a class="a-btn" onclick="deleteItem('/Halls/Delete/@Model.Id', '@Model.Id')">Delete</a>
    </div>
}
