@model GSU.Museum.Web.Models.StandViewModel
@{
    ViewData["Title"] = "Stand";
}

@{
    var state = Model.State == true ? "active" : "in progress";
    <div class="flex-column">
        <div class="form-group">
            <h5>Belarusian title</h5>
            <p>@Model.TitleBe</p>
        </div>
        <div class="form-group">
            <h5>Russian title</h5>
            <p>@Model.TitleRu</p>
        </div>
        <div class="form-group">
            <h5>English title</h5>
            <p>@Model.TitleEn</p>
        </div>
        <div class="form-group">
            <h5>Stand description (Be)</h5>
            @if (!string.IsNullOrEmpty(Model.DescriptionBe))
            {
                <p>@Model.DescriptionBe</p>
            }
            else
            {
                <p>No text</p>
            }
        </div>
        <div class="form-group">
            <h5>Stand description (Ru)</h5>
            @if (!string.IsNullOrEmpty(Model.DescriptionRu))
            {
                <p>@Model.DescriptionRu</p>
            }
            else
            {
                <p>No text</p>
            }
        </div>
        <div class="form-group">
            <h5>Stand description (En)</h5>
            @if (!string.IsNullOrEmpty(Model.DescriptionEn))
            {
                <p>@Model.DescriptionEn</p>
            }
            else
            {
                <p>No text</p>
            }
        </div>
        <div class="form-group">
            <h5>Экспонаты</h5>
            @if (Model.Exhibits?.Count != 0)
            {

                @foreach (var exhibit in Model.Exhibits)
                {
                    <div class="d-flex flex-row justify-content-between">
                        <p style="width:20%">@exhibit.TitleBe</p> <p style="width:20%">@exhibit.TitleEn</p> <p style="width:20%">@exhibit.TitleRu</p>
                    </div>
                }
            }
            else
            {
                <p>No</p>
            }
        </div>
        <div class="form-group">
            <h5>State</h5>
            <p>@state</p>
        </div>
        <div class="form-group">
            <h5>Photo</h5>
            @if (Model.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo.Photo);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img class='img-thumbnail small-image img-small-loaded' src="@imgSrc" />
            }
            else
            {
                <label>No photo</label>
            }
        </div>
        <a class="a-btn" onclick="loadEditPage('/Stands/Edit/@Model.Id?hallId=@ViewBag.HallId')">Edit</a>
        <a class="a-btn" onclick="deleteItem('/Stands/Delete/@Model.Id?hallId=@ViewBag.HallId', '@Model.Id')">Delete</a>
    </div>
}

