@model GSU.Museum.Web.Models.ExhibitViewModel

@{
    <h3>Редактирование - @Model.TitleRu</h3>
    <form id="form" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="hallId" value="@ViewBag.HallId" />
        <input type="hidden" name="standId" value="@ViewBag.StandId" />
        <input type="hidden" value="1" name="ExhibitType" />

        <div class="form-group">
            <label for="titleBe">Название (BY)</label>
            <span asp-validation-for="TitleBe"></span>
            <input type="text" placeholder="Название экспоната на белорусском языке" asp-for="TitleBe" class="form-control" value="@Model.TitleBe" />
        </div>
        <div class="form-group">
            <label for="titleRu">Название (RU)</label>
            <span asp-validation-for="TitleRu"></span>
            <input type="text" placeholder="Название экспоната на русском языке" asp-for="TitleRu" class="form-control" value="@Model.TitleRu" />
        </div>
        <div class="form-group">
            <label for="titleEn">Название (EN)</label>
            <span asp-validation-for="TitleEn"></span>
            <input type="text" placeholder="Название экспоната на английском языке" asp-for="TitleEn" class="form-control" value="@Model.TitleEn" />
        </div>
        <div class="form-group">
            <label for="descriptionBe">Описание экспоната (BY)</label>
            <span asp-validation-for="DescriptionBe"></span>
            <input type="text" placeholder="Краткое описание экспоната на белорусском языке" asp-for="DescriptionBe" class="form-control" value="@Model.DescriptionBe" />
        </div>
        <div class="form-group">
            <label for="descriptionRu">Описание экспоната (RU)</label>
            <span asp-validation-for="DescriptionRu"></span>
            <input type="text" placeholder="Краткое описание экспоната на русском языке" asp-for="DescriptionRu" class="form-control" value="@Model.DescriptionRu" />
        </div>
        <div class="form-group">
            <label for="descriptionEn">Описание экспоната (EN)</label>
            <span asp-validation-for="DescriptionEn"></span>
            <input type="text" placeholder="Краткое описание экспоната на английском языке" asp-for="DescriptionEn" class="form-control" value="@Model.DescriptionEn" />
        </div>
        <div class="form-group">
            <label for="textBe">Текст к экспонату (BY)</label>
            <span asp-validation-for="TextBe"></span>
            <textarea style="resize:none" placeholder="Текст к экспонатк на белорусском языке" type="text" asp-for="TextBe" class="form-control" rows="5">@Model.TextBe</textarea>
        </div>
        <div class="form-group">
            <label for="textRu">Текст к экспонату (RU)</label>
            <span asp-validation-for="TextRu"></span>
            <textarea style="resize:none" placeholder="Текст к экспонатк на русском языке" type="text" asp-for="TextRu" class="form-control" rows="5">@Model.TextRu</textarea>
        </div>
        <div class="form-group">
            <label for="textEn">Текст к экспонату (EN)</label>
            <span asp-validation-for="TextEn"></span>
            <textarea style="resize:none" placeholder="Текст к экспонатк на английском языке" type="text" asp-for="TextEn" class="form-control" rows="5">@Model.TextEn</textarea>
        </div>
        <div class="form-group">
            <label>Фото</label>
            <span class="field-validation-valid" id="photoSpan" data-valmsg-for="files" data-valmsg-replace="true"></span>
            <div class="d-flex flex-row form-group" id="imageBlock2">
                @if (Model.Photos != null)
                {
                    @for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        <div class="d-flex flex-row flex-wrap" style="margin: 0px 5px">
                            @{
                                <input type="hidden" value="@Model.Photos[i].Id" name="ids" />
                                var base64 = Convert.ToBase64String(Model.Photos[i].Photo);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                <img class='img-thumbnail small-image img-small-loaded' src="@imgSrc" />
                                <input type="button" class="btn-outline-secondary btn-close" onclick="RemoveBlock(this)" value="x" />
                            }
                        </div>
                    }
                }
            </div>
            <div id="imageBlock" class="d-flex flex-row flex-wrap form-group">
            </div>
            <button type="button" onclick="LoadFile('#inputFile')" class="btn btn-outline-secondary btn-form">
                <img src="~/images/upload.png" class="img-btn" />Загрузить
            </button>
            <input id="inputFile" style="visibility: hidden" type="file" name="files" multiple />
        </div>
        <div class="form-group">
            <button type="button" onclick="edit('@Model.Id', 'TitleRu', '/Exhibits/EditArticle/@Model.Id', null)" class="btn btn-outline-secondary btn-form">
                <img src="~/images/save.png" class="img-btn" />Сохранить
            </button>
        </div>
    </form>
}
