@model GSU.Museum.Web.Models.ExhibitViewModel
@{
    <h3>Просмотр экспоната - @Model.TitleRu</h3>

    <div class="flex-column">
        <div class="form-group">
            <h5>Название (BY)</h5>
            <p>@Model.TitleBe</p>
        </div>
        <div class="form-group">
            <h5>Название (RY)</h5>
            <p>@Model.TitleRu</p>
        </div>
        <div class="form-group">
            <h5>Название (EN)</h5>
            <p>@Model.TitleEn</p>
        </div>
        <div class="form-group">
            <h5>Описание экспоната (BY)</h5>
            <p>@Model.DescriptionBe</p>
        </div>
        <div class="form-group">
            <h5>Описание экспоната (RU)</h5>
            <p>@Model.DescriptionRu</p>
        </div>
        <div class="form-group">
            <h5>Описание экспоната (EN)</h5>
            <p>@Model.DescriptionEn</p>
        </div>
        <div class="form-group">
            <h5>Текст к экспонату (BY)</h5>
            @if (!string.IsNullOrEmpty(Model.TextBe))
            {
                <p>@Model.TextBe</p>
            }
            else
            {
                <p>Нет текста</p>
            }
        </div>
        <div class="form-group">
            <h5>Текст к экспонату (RU)</h5>
            @if (!string.IsNullOrEmpty(Model.TextRu))
            {
                <p>@Model.TextRu</p>
            }
            else
            {
                <p>Нет текста</p>
            }
        </div>
        <div class="form-group">
            <h5>Текст к экспонату (EN)</h5>
            @if (!string.IsNullOrEmpty(Model.TextEn))
            {
                <p>@Model.TextEn</p>

            }
            else
            {
                <p>Нет текста</p>
            }
        </div>
        <div class="form-group">
            <h5>Фото</h5>
            <div>

            </div>
            @if (Model.Photos != null)
            {
                <div id="image" class="flex-row flex-wrap">
                    @for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        var base64 = Convert.ToBase64String(Model.Photos[i].Photo);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img class='img-thumbnail small-image img-small-loaded' src="@imgSrc" />
                    }
                </div>
            }
            else
            {
                <label>Нет фото</label>
            }
        </div>
        <button type="button" class="btn btn-outline-secondary btn-form" onclick="loadView('/Exhibits/Edit/@Model.Id?hallId=@ViewBag.HallId&standId=@ViewBag.StandId')">
            <img src="~/images/edit.png" class="img-btn" />Редактировать
        </button>
        <button type="button" class="btn btn-outline-secondary btn-form" onclick="deleteItem('/Exhibits/Delete/@Model.Id?hallId=@ViewBag.HallId&standId=@ViewBag.StandId', '@Model.Id')">
            <img src="~/images/delete.png" class="img-btn" />Удалить
        </button>
    </div>
}


