@model GSU.Museum.Web.Models.HallViewModel

@{
    <h3>Редактирование - @Model.TitleRu</h3>
    <form id="form" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <label for="titleBe">Название (BY)</label>
            <span asp-validation-for="TitleBe"></span>
            <input placeholder="Название холла на белорусском языке" type="text" asp-for="TitleBe" class="form-control" value="@Model.TitleBe" />
        </div>
        <div class="form-group">
            <label for="titleRu">Название (RU)</label>
            <span asp-validation-for="TitleRu"></span>
            <input type="text" asp-for="TitleRu" placeholder="Название холла на русском языке" class="form-control" value="@Model.TitleRu" />
        </div>
        <div class="form-group">
            <label for="titleEn">Название (EN)</label>
            <span asp-validation-for="TitleEn"></span>
            <input type="text" asp-for="TitleEn" placeholder="Название холла на английском языке" class="form-control" value="@Model.TitleEn" />
        </div>

        <div class="form-group">
            <label>Фото</label>
            <span class="field-validation-valid" id="photoSpan" data-valmsg-for="file" data-valmsg-replace="true"></span>
            <div class="flex-row form-group" id="imageBlock">
                <div style='margin: 5px;'>
                    @if (Model.Photo != null)
                    {
                        <input type="hidden" value="@Convert.ToBase64String(Model.Photo.Photo)" name="photo" />
                        var base64 = Convert.ToBase64String(Model.Photo.Photo);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img class="img-thumbnail small-image img-small-loaded" src="@imgSrc" />
                        <input type="button" class="btn-outline-secondary btn-close" onclick="RemoveBlock(this)" value="x" />
                    }
                </div>
            </div>
            <button type="button" onclick="LoadFile('#inputFile')" class="btn btn-outline-secondary btn-form">
                <img src="~/images/upload.png" class="img-btn" />Загрузить
            </button>
            <input id="inputFile" style="visibility: hidden" type="file" name="file" />
        </div>
        <div class="form-group">
            <button type="button" onclick="Edit('@Model.Id', 'TitleRu', '/Halls/Edit/@Model.Id', null)" class="btn btn-outline-secondary btn-form">
                <img src="~/images/save.png" class="img-btn"/>Сохранить
            </button>
        </div>
    </form>
}
