@model GSU.Museum.Web.Models.HallViewModel
@{
    <h3>Просмотр холла - @Model.TitleRu</h3>

    <div class="flex-column">
        <div class="form-group">
            <h5>Название (BY)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleBe))
            {
                <p>@Model.TitleBe</p>
            }
            else
            {
                <p>Нет названия</p>
            }
        </div>
        <div class="form-group">
            <h5>Название (RU)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleRu))
            {
                <p>@Model.TitleRu</p>
            }
            else
            {
                <p>Нет названия</p>
            }
        </div>
        <div class="form-group">
            <h5>Название (EN)</h5>
            @if (!string.IsNullOrEmpty(@Model.TitleEn))
            {
                <p>@Model.TitleEn</p>
            }
            else
            {
                <p>Нет названия</p>
            }
        </div>
        <div class="form-group">
            <h5>Фото</h5>
            @if (Model.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo.Photo);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <img class='img-thumbnail small-image img-small-loaded' src="@imgSrc" />
            }
            else
            {
                <label>Нет фото</label>
            }
        </div>
        <button type="button" class="btn btn-outline-secondary btn-form" onclick="loadView('/Halls/Edit/@Model.Id')">
            <img src="~/images/edit.png" class="img-btn" />Редактировать
        </button>
        <button type="button" class="btn btn-outline-secondary btn-form" onclick="deleteItem('/Halls/Delete/@Model.Id', '@Model.Id')">
            <img src="~/images/delete.png" class="img-btn"/>Удалить
        </button>
    </div>
}
