@model IEnumerable<GSU.Museum.Web.Models.HallViewModel>
@{
    ViewData["Title"] = "Управление музеем";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@{
    
    <div class="d-flex flex-row align-items-start">

        <div style="width:35%" class="box-shadow border-right border-bottom">
            <button style="line-height:1.2em;" onclick="LoadViewFromMenu(null, '/Halls/Create', false, true)" type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 24 24" width="1.2em">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                </svg>
            </button>
            <div class="d-flex flex-column" id="halls">
                @foreach (var hall in Model)
                {
                    <div id="elId@{@hall.Id}">
                        <div>
                            <div style="margin-top: 10px;" class="d-flex flex-row align-items-center">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#id@{@hall.Id}"
                                        aria-expanded="false"
                                        aria-controls="id@{@hall.Id}"
                                        style="margin-bottom:3px;padding:2px;visibility: @(hall.Stands.Count == 0 ? "hidden" : "visible")">
                                    <i class="fa" aria-hidden="false"></i>
                                </button>
                                <a class="a-header overflow" id="elName@{@hall.Id}" onclick="LoadViewFromMenu(this, '/Halls/Index/@hall.Id', true, false)">@hall.TitleRu</a>
                                <button style="line-height:1.2em;" onclick="LoadViewFromMenu(null, '/Stands/Create?hallId=@hall.Id', false, true)" type="button" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 24 24" width="1.2em">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="collapse" id="id@{@hall.Id}">
                            @foreach (var stand in hall.Stands)
                            {
                                <div id="elId@{@stand.Id}">
                                    <div>
                                        <div style="margin-top: 10px;margin-left: 2em" class="d-flex flex-row align-items-center">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#id@{@stand.Id}"
                                                    aria-expanded="false"
                                                    aria-controls="id@{@stand.Id}"
                                                    style="margin-bottom:3px;padding:2px;visibility: @(stand.Exhibits.Count == 0 ? "hidden" : "visible")">
                                                <i class="fa" aria-hidden="false"></i>
                                            </button>
                                            <a class="a-header overflow" id="elName@{@stand.Id}" onclick="LoadViewFromMenu(this, '/Stands/Index/@stand.Id?hallId=@hall.Id', true, false)">@stand.TitleRu</a>
                                            <button style="line-height:1.2em;" onclick="LoadViewFromMenu(null, '/Exhibits/Create?standId=@stand.Id&hallId=@hall.Id', false, true)" type="button" class="btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 24 24" width="1.2em">
                                                    <path d="M0 0h24v24H0z" fill="none" />
                                                    <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="id@{@stand.Id}">

                                        @foreach (var exhibit in stand.Exhibits)
                                        {

                                            <div style="margin-top: 10px;" id="elId@{@exhibit.Id}">
                                                <div>
                                                    <div style="margin-left: 4em; padding:2px;" class="d-flex flex-row">
                                                        <a class="a-header overflow" id="elName@{@exhibit.Id}" onclick="LoadViewFromMenu(this, '/Exhibits/Index?id=@exhibit.Id&standId=@stand.Id&hallId=@hall.Id', true, false)">@exhibit.TitleRu</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="content" style="width:100%" class="ml-5">

        </div>
    </div>
}

